# C++ objects and libs
*.slo
*.lo
*.o
*.o.d
*.d
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.hmap

# Qt-es
*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*

# Qt Creator-es
build.qt/

# Xcode-es
DerivedData/
*.xcuserstate
*.xccheckout
bin/*.app/
xcuserdata/